.center-div img {
    height: 400px;
    width: 400px;
}


.rotate_fan{
    animation:fan  2s linear infinite ;

}

@keyframes fan {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.rotate_fans{

}

@keyframes fans {
    100% {transform: rotate(0deg);}
    0% {transform: rotate(360deg);}
}